body{
    background-color: #e5e5e5;
    
}

.topo{
    height: 92px;
    background-color: #CF2b2b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
}
.content-topo{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    align-items: flex-start;

}
.titulo {
    font-family:'Righteous', cursive;
    font-size: 44px;
    color: white;
}
.sub {
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    color: white;
}

.conteudo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 120px;
    margin-bottom: 95px;
}
.titulo-comida{
    font-size: 26px;
    font-family: 'Righteous',cursive;
    margin-bottom: 10px;
}


.pratos{
    margin-bottom: 30px;
}

.pratos img{
    height: 87px;
    border-radius: 4px;
}
.pratos-conteudo{
    display: flex;
    overflow-x: scroll;
}
.prato-individual{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    height: 216px;
    width: 162px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 9px;
    margin-right: 18px;
    margin-bottom: 5px;
}
.prato-individual img{
    width: 160px;
}
.titulo-prato{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.legenda-prato {
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    color: #a6a6a6;
    font-weight: 300;
}
.selecionar{
    height: 92px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.selet{
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    color: white;
    text-align: center;
    background-color: #CBCBCB;
    border-radius: 50px;
    width: 330px;
    height: 61px;
    border: none;
    padding: 10px;
} 

.selecionado{
    border: 3px solid #32B72F;
    border-radius: 9px;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.valores {
    font-family: 'Roboto',sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    display: flex;
    line-height: 19px;
    color: #000000;
}
.baixo-prato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.icone ion-icon {
    color: #32B72F;
    font-size: 20px;
}
.real{
    margin-right: 5px;
}
.escondido {
    display: none;
}
.esconder ion-icon {
    display: none;
}

.desabilitado {
    display: none;
}

.habilitado{
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    color: white;
    text-align: center;
    background-color: #32B72F;
    border-radius: 50px;
    width: 330px;
    height: 61px;
    border: none;
}

.mostrar {
    display: flex;
}

.confirme {
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: white;
}
.texto {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: start;
}
.caixa-confirma {
    box-sizing: border-box;
    padding: 10px;
    width: 377px;
    height: 353px;
    background-color: #50D074;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 9px;
}
.confirma-pedido {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.842);
}


.fonte-confirma{
    font-family: 'Roboto',sans-serif;
    font-size: 22px;
    color: white;
}

.bold {
    font-weight: bold;
}

.tudo-certo{
    width: 300px;
    font-size: 22px;
    height: 52px;
    color: #50D074;
    background-color: white;
    border-radius: 100px;
    border: none;
}

.cancelar{
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    font-family: 'Roboto',sans-serif;
}

.menu-confirmacao{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

